{{- template "chart.centeredHeader" "Keycloak Stack Helm Chart" }}

{{ template "chart.centeredBadgesSection" . }}

<p align="center">
    <a href="#requirements"><b>Requirements</b></a> •
    <a href="#usage-example"><b>Usage</b></a> •
    <a href="#monitoring-with-prometheus-and-grafana"><b>Monitoring</b></a> •
    <a href="#values"><b>Chart Values</b></a>
</p>

<p align="center">
{{ template "chart.description" . }}
</p>

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

## Usage example

```bash
helm repo add stevenjdh https://StevenJDH.github.io/helm-charts
helm repo update
helm upgrade --install my-{{ template "chart.name" . }} stevenjdh/{{ template "chart.name" . }} --version {{ template "chart.version" . }} \
    --set devModeEnabled=true
    --namespace example \
    --create-namespace \
    --atomic
```

## Monitoring with Prometheus and Grafana
This section shows how to enable monitoring of the cluster via Prometheus and Grafana, which will also inject dashboards to represent the collected metrics. To get started, run the following commands with configuration from one of the options below.

```bash
helm upgrade --install kube-prometheus-stack oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack --version 87.21.0
    -f prometheus-values.yaml \ # TODO: Check below for one of the options to use for this file.
    --namespace monitoring \
    --create-namespace \
    --atomic
```

> [!IMPORTANT]  
> Make sure to use the latest 3x version of the Helm CLI, and not 4x, or the installation/upgrade will hang.

{{ template "chart.valuesSectionWrap" (dict "context" . "limit" 40) }}


{{ template "footer.signature" . }}
