### My additional ignores ###
/[Rr]esources

### Helm ###
# Chart dependencies
**/charts/*.tgz
Chart.lock

### VisualStudioCode ###
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history