security.protocol=SASL_SSL
sasl.mechanism=OAUTHBEARER

ssl.truststore.location=truststore.p12
ssl.truststore.password=changeit
ssl.truststore.type=PKCS12

sasl.login.callback.handler.class=io.strimzi.kafka.oauth.client.JaasClientOauthLoginCallbackHandler

# Must have OAuth libraries on the class for this to work.
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
  oauth.client.id="test-user" \
  oauth.client.secret="password" \
  oauth.token.endpoint.uri="https://keycloak.127.0.0.1.sslip.io/realms/strimzi/protocol/openid-connect/token" \
  oauth.ssl.truststore.location=truststore.p12 \
  oauth.ssl.truststore.password=changeit \
  oauth.ssl.truststore.type=PKCS12;

group.id=my-oauth-consumer-group
auto.offset.reset=earliest
enable.auto.commit=true